# ── Backend ────────────────────────────────────
backend/node_modules/
backend/.env

# ── Flutter ─────────────────────────────────────
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/build/
frontend/.packages
frontend/pubspec.lock

# ── General ─────────────────────────────────────
.DS_Store
Thumbs.db
*.log
